* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
#app {
  width: 100%;
  position: relative;
  padding-top: 46px;
}
#app .app-header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  background: white;
  z-index: 99;
  box-shadow: 0px 4px 12px 0px rgba(83, 83, 83, 0.1);
}
#app .app-header img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
}
#app .wrap {
  max-height: calc(100vh - 57px);
  overflow: scroll;
}
#app .wrap .exhibit {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 20px;
  margin-top: 15px;
}
#app .wrap .exhibit-img {
  width: 100%;
  height: 140px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#app .wrap .article-list {
  width: 100%;
  padding: 0 20px;
}
#app .wrap .article-list .article-card {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px #E4E6E7;
}
#app .wrap .article-list .article-card .card-info {
  flex: 1;
  position: relative;
}
#app .wrap .article-list .article-card .card-info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}
#app .wrap .article-list .article-card .card-info .article-title {
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}
#app .wrap .article-list .article-card .card-info .date-check {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
#app .wrap .article-list .article-card .card-img {
  width: 31%;
  height: 68px;
  border-radius: 5px;
  border: 1px solid #E4E6E7;
  margin-right: 2px;
}
#app .wrap .article-list .show-more {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: #999999;
}
#app .wrap .article-list .empty {
  text-align: center;
}
#app .wrap .article-list .empty .empty-img {
  width: 48%;
  height: 20.5%;
  margin-top: 100px;
}
#app .wrap .article-list .common-tip {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}
